<header class="app__header">
  <h1>SIMPLE TODO LISTS</h1>
  <h2>FROM RUBY GARAGE</h2>
</header>
<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>
<div class="app__log-in">
  <h1>Log in</h1>
  <%= form_with url: sessions_path do |f| %>
    <%= f.text_field :login, placeholder: 'Username' %></p>
    <%= f.password_field :password, placeholder: 'Password' %></p>
    <%= f.submit "let me in" %>
  <% end %>
</div>