<% ptp = project_task_path(task.project.id, task.id) %>

<div class="task <%= task.status ? 'is_done' : '' %>" data-task-id="<%= task.id %>">
  <div class="task__done">
    <%= button_to "\u26AA", ptp, method: :patch, remote: true, params: { status: true } %>
  </div>
  <div class="task__text"><%= task.text %></div>
  <div class="task__controls">
    <div class="control__move">
      <%= button_to "", ptp, method: :patch, remote: true, disabled: true %>    
    </div>
    <div class="control__edit">
      <%= button_to "", ptp, method: :patch, remote: true, params: { edit: true } %>
    </div>
    <div class="control__delete">
      <%= button_to "", ptp, method: :delete, remote: true %>
    </div>
  </div>
</div>