var parent = qs('.project[data-project-id=\"<%= @project.id %>\"] .project__tasks');
//var el = document.createElement('div');
//el.innerHTML = '<%= j render @task %>';
//parent.appendChild(el);
parent.insertAdjacentHTML('beforeend', '<%= j render @task %>');
var form = document.querySelector('.project[data-project-id=\"<%= @project.id %>\"] .project__task-form form input[type=text]');
form.value = '';