<% ptp = project_task_path(@task.project.id, @task.id) %>
var task = qs('.task[data-task-id=\"<%= @task.id %>\"]');
<% if @task.status %>
  task.classList.add('is_done');
  task.querySelector('.task__done').innerHTML = '<%= j button_to "\u26AA", ptp, method: :patch, remote: true, params: { status: false } %>';
<% else %>
  task.classList.remove('is_done');
  task.querySelector('.task__done').innerHTML = '<%= j button_to "\u26AA", ptp, method: :patch, remote: true, params: { status: true } %>';
<% end %>