<header class="app__header">
  <h1>SIMPLE TODO LISTS</h1>
  <h2>FROM RUBY GARAGE</h2>
</header>
<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>
<div class="app__log-in app__register">
  <h1>Register</h1>
  <%= form_with url: users_path do |f| %>
    <%= f.text_field :login, placeholder: 'Username' %></p>
    <%= f.password_field :password, placeholder: 'Password' %></p>
    <%= f.submit "register" %>
  <% end %>
</div>