<div class="project__header">
  <div class="header__title">
    <%= project.name %>
  </div>
  <div class="header__controls">
    <div class="control__edit">
      <%= button_to "", project_path(project.id), method: :patch, remote: true, params: { edit: true } %>
    </div>
    <div class="control__delete">
      <%= button_to "", project_path(project.id), method: :delete, remote: true %>
    </div>
  </div>
</div>