<div class="project" data-project-id="<%=project.id%>">
  <%= render partial: '/projects/header', locals: {project: project } %>
  <div class="project__task-form">
    <%= form_with url: project_tasks_path(project.id) do |f| %>
      <%= f.text_field :text, class: "task-form__text", placeholder: "Start typing here to create a task..." %>
      <%= f.submit "Add Task", class: "task-form__submit" %>
    <% end %>
  </div>
  <div class="project__tasks">
    <%= render project.tasks %>
  </div>
</div>