var el = document.createElement('div');
el.innerHTML = '<%= j render @project %>';

qs('.app__projects').appendChild(el);

qs('.app__add-project').innerHTML = 
'<%= j button_to "Add TODO List", new_project_path, method: :get, remote: true %>';