<header class="app__header">
	<h1>SIMPLE TODO LISTS</h1>
	<h2>FROM RUBY GARAGE</h2>
</header>
<% flash.each do |type, mes| %>
  <p>
  	<span><%= type %>:</span>
  	<span><%= mes %></span>
  </p>
<% end %>
<% if !@current_user %>
	<div class="app__not-logged-in">
		<h2><a href="/login">Log in</a></h2>
  	<h2><a href="/register">Register</a></h2>
	</div>
<% else %>
	<div class="app__logout">
		<span class="logout__user-icon">&#x26C4;</span>
		<span class="logout__username"><%= @current_user.login %></span>
		<span class="logout__button">
		  <%= button_to "Log out", logout_path %>
		</span>
	</div>
	<div class="app__projects">
		<% if @projects %>
	  	<%= render @projects %>
	  <% end %>
	</div>
	<div class="app__add-project">
	  <%= button_to "Add TODO List", new_project_path, method: :get, remote: true %>
	</div>
<% end %>