* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html { height: 100% }
body {
  background: linear-gradient(to bottom, #dbd2c8, #d9b632, #ca790d);
  font-family: Arial;
  height: 100%;
  background-attachment: fixed; /* fixes background gradient */
  padding-top: 1px;
}

.app__header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.app__header h1 {
  font-size: 30px;
}
.app__header h2 {
  font-size: 20px;
  font-weight: normal;
}

.app__not-logged-in {
  text-align: center;
  margin-top: 10%;
}
.app__not-logged-in h2{
  margin-bottom: 20px
}
.app__not-logged-in h2 a{
  text-decoration: underline;
  color: black;
}
.app__not-logged-in h2 a:visited{
  color: black;
}

.app__log-in {
  text-align: center;
}
.app__log-in h1 {
  margin-bottom: 15px;
}
.app__log-in input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 15px;
}
.app__log-in input[type="submit"] {
  width: 160px;
  height: 35px;
  background: linear-gradient(to bottom, #4e7eb7, #3c5b9e);
  border: none;
  color: white;
  font-size: 15px;
}

.app__logout {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
}
.app__logout:hover form {
  display: block;
}
.logout__user-icon {
  font-size: 20px;
  display: inline-block;
  margin-right: -4px;
} 
.app__logout form{
  display: block;
  display: none;
}
.app__logout input {
  border: none;
  background: none;
  text-decoration: underline;
  font-size: 14px;
}

.app__projects {
  max-width: 550px;
  margin: 0 auto;
}

.project {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  margin-bottom: 30px;
}

.project__header {
  display: flex;
  padding: 10px;
  background:  linear-gradient(to bottom, #4e7eb7, #3c5b9e); 
  border-left: 1px solid #315589;
}

.header__title { 
  flex: 1;
  color: #fff;
  font-size: 20px;
}
.header__controls { 
  margin-left: 5px;
  display: flex;
  width: 80px;
}
.header__controls .control__edit {
  flex: 1;
  border: 0;
  background: none;
  cursor: pointer;
  border-right: 1px solid #5284bf;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__controls .control__edit form input[type="submit"]{
  width: 16px;
  height: 16px;
  background: url("buttons_icon3.png") no-repeat;
  background-position: -16px -13px;
  border: none;
  cursor: pointer;
}
.header__controls .control__delete {
  flex: 1;
  border: 0;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__controls .control__delete form input[type="submit"] {
  width: 16px;
  height: 16px;
  background: url("buttons_icon3.png") no-repeat;
  background-position: 0px -13px;
  border: none;
  cursor: pointer;
}

.project-edit__form {
  display: flex;
  width: 100%
}
.project-edit__form input[type=text] {
  flex: 1;
  padding: 5px;
  padding-left: 15px;
  font-size: 16px;
}
.project-edit__form input[type=submit] {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(to bottom, #8cc3a6, #558c6c);
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #447557;
}

.project__task-form {
  background-color: #aaaaaa;
  padding: 6px;
}

.project__task-form form {
  display: flex;
}

.task-form__text {
  padding: 4px 4px 4px 15px; 
  flex: 1;
  border: 0;
  border-top: 1px solid #707070;
  font-size: 16px;
}
.task-form__submit {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(to bottom, #8cc3a6, #558c6c);
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #447557;
  
}

.project__tasks {}


.task {
  color: #777;
  font-weight: bold;
  display: flex;
  background: #fff;
  border: 1px solid #e7ebea;
  border-top: none;
  cursor: pointer;
}
.task:hover{
  background:  #f7f9d1;
}
.task:hover .task__controls {
  display: flex;
}
.task:hover.is_done .task__text {
  color: #aaa;
}

.task:last-child {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.task.is_done .task__text{
  color: #ccc;
}
.task.is_done .task__done input{
  color: #eee;
}

.task__done { /*element to button 'make it done'*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-right: 1px solid #efdadf;
  margin-right: 4px;
  cursor: pointer;
}
.task__done input[type=submit] {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}

.task__done input[type=submit]:hover {
  color: green;
}
.task.is_done .task__done input[type=submit]:hover {
  color: red;
}

.task__text {
  border-left: 1px solid #efdadf;
  padding: 10px;
  flex: 1;
}
.task__controls {
  border-left: 1px solid #e7ebea;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  display: none;
}
.task__controls .control__move {
  border: 0;
  background: none;
  padding-left: 4px;
  padding-right: 4px;
}
.task__controls .control__move form input[type="submit"] {
  width: 12px;
  height: 12px;
  background: none;
  background: url("buttons_icon3.png") no-repeat;
  background-position: -24px 0px;
  border: none;
  cursor: pointer;
}
.task__controls .control__edit {
  border: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: none;
  padding-left: 4px;
  padding-right: 4px;
}
.task__controls .control__edit form input[type="submit"] {
  width: 12px;
  height: 12px;
  background: none;
  background: url("buttons_icon3.png") no-repeat;
  background-position: -12px 0px;
  border: none;
  cursor: pointer;
}
.task__controls .control__delete {
  border: 0;
  background: none;
  padding-left: 4px;
  padding-right: 4px;
}

.task__controls .control__delete form input[type="submit"] {
  width: 12px;
  height: 12px;
  background: none;
  background: url("buttons_icon3.png") no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
}

.task__edit {
  display: flex;
  width: 100%
}
.task__edit input[type=text] {
  padding: 10px;
  flex: 1;
  font-size: 16px;
}
.task__edit input[type=submit] {
  color: #fff;
  font-weight: bold;
  background: linear-gradient(to bottom, #8cc3a6, #558c6c);
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #447557;
}
.task:last-child .task__edit input[type=text]{
  border-bottom-left-radius: 11px;
}
.task:last-child .task__edit:last-child input[type=submit]{
  border-bottom-right-radius: 11px; 
}

.app__add-project {
  margin-bottom: 15px;
}
.app__add-project form{
  display: block;
  text-align: center;
}
.app__add-project .button_to input[type="submit"]{
  width: 160px;
  height: 35px;
  background: linear-gradient(to bottom, #4e7eb7, #3c5b9e);
  border: none;
  color: white;
  font-size: 15px;
}

.add-project__form input[type=submit] {
  height: 25px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(to bottom, #8cc3a6, #558c6c);
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #447557;
}
.add-project__form input[type=text] {
  padding: 4px 4px 4px 10px; 
  border: 0;
}

.button_to {
  display: inline-block
}